.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      .top-items__icon
        = link_to new_group_path do
          = icon('far', 'edit' , class: "top-items__btn")
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog' , class: 'top-items__btn')
          
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-box
        .group-box__name
          = group.name
        .group-box__messages
          メッセージはまだありません